
td {
    width:auto;
    border: 2px solid #000;
    box-sizing: content-box;
    font-weight: 30px;
    font-size: 10px;
    
    
    }

th {
    width:auto;
    border: 2px solid #000;
    box-sizing: content-box;
    font-weight: 30px;
     font-size: 10px;
        
        
    }
table {
    width:auto;
    border: 2px solid #000;
    box-sizing: content-box;
    font-weight: 30px;
    font-size: 10px;
    }

h4 {
   
    width:350px;
    border: 2px solid #000;
    box-sizing: content-box;
    font-weight: 30px;
    font-size: 15px;
    margin-left: 42px;
   text-align: center;
    }

    button {
        display:flex;
        font-size: 20px;
        margin-left: 500px;
        margin-top: -70px;
    }