body {
    position: absolute;
}


#div_titulo {
position: absolute;
border: 2px solid red;
padding-left: 300px;
margin-left: 200px;
width: 30px;
height: 30px;
padding-top: 5px;
padding-bottom: 5px;
margin-top: 7px;

}

.moduloOpera{
    position: absolute;
    padding-left: 250px;
    font-size: 20px;
    padding-top: 0px;
}


#logo {
    position: absolute;
    width: 80px;
    height: 70px;
    padding-top: 0px;
}
 .container_login {
    position: absolute;
  
 }



#div_menu {
    position: absolute;


}
dt {
    position: absolute;
}

#div_imagen {
width: 10px;
height: 10px;
position: absolute;
}

#carro {
    width: 10px;
    height: 10px;
    position: absolute;
}

#moto {
    position: absolute;
    width: 10px;
    height: 10px;
}

#moto:hover {



}

#carro:hover {

}

#div_proceso_placa {
    position: absolute;
}

#cajon_consulta_placa {
    position: absolute;
}


#div_total {
    position: absolute;
}


#label_placa {
    position: absolute;


}

.label_total {
    position: absolute;


}

#input_placa {
    position: absolute;

}

#boton_procesar {
    position: absolute;


}
#boton_procesar:hover{

}

#label_historico {
    position: absolute;
}



#div_resumen {
    position: absolute;

}

#label_total {

    position: absolute;

}

#div_historico {
    position: absolute;
    margin-top: 100px;
    margin-left: 400px;
}

#div_totales {
    position: absolute;
}

#label_precio {
    position: absolute;

}

.label_horas2,
.label_horas3,
.label_horas4,
.label_horas {

    position: absolute;

}

#tabla {
    position: absolute;
    opacity: 0.9;
}

#boton_imprimir{
    position: absolute;
}

#boton_balance {
    position: absolute;
}

th {
    position: absolute;

}

td {
    position: absolute;


}

#item_menu {

    position: absolute;




} 
a {
    position: absolute;
}
#item_menu:hover {






} 

ul {
    position: absolute;



}

#reloj {
    position: absolute;
}

.div_recibo {
    position: absolute;
}